.overflow-y {
    overflow-y: scroll;
}

a:focus,
button:focus,
input[type="checkbox"]:focus,
a:focus, button:focus {
    outline: none !important;
}

.pointer {
    cursor:pointer;
}

.container {
    margin-top: 80px;
    margin-bottom: 40px;
}

.meteo-font {
    font-family: 'Lobster', cursive;
}

.valign-center {
    vertical-align: middle !important;
}

.tools {
    position: fixed;
    right: 20px;
    bottom: 0px;
    min-width: 100px;
}

.message {
    position: fixed;
    top: 70px;
    right: 20px;
    min-width: 300px;
}

.no-border {
    border: none;
    border-spacing: 0;
}

.shadow {
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.btn-black {
    background-color: #111;
}

.btn-black:hover {
    background-color: #222;
}

.btn-black.focus, .btn-black:focus {
    color: #FFF;
    background-color: #333;
    border-color: #111;
}

#back-to-top {
    position: fixed;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
}
